@{
    ViewData["Title"] = "Products page";
}
<div class="container-fluid pt-4 px-4">

    <div class="col-sm-6 col-xl-12">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Products Table</h6>
            <table class="table table-striped" id="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">User Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">&nbsp;</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var lienMinhAcc = ViewBag.listLienMinhAcc;
                        var totalPage = ViewBag.totalPage;
                        var currentPage = ViewBag.currentPage;

                        List<Lienminh> list = (List<Lienminh>)lienMinhAcc;

                        foreach (var item in list)
                        {
                            <tr>
                                <th scope="row">@item.Id</th>
                                <td>@item.Name</td>
                                <td>@item.ProductUserName</td>
                                <td>@item.PriceAtm</td>
                                <td>@Html.ActionLink("Details", "DetailProduct", new { id = item.Id }, new { @class = "text-info"})</td>
                                <td>@Html.ActionLink("Edit", "EditProduct", new { id = item.Id }, new { @class = "text-light"})</td>
                                @* <td>@Html.ActionLink("Delete", "DeleteProduct", new { id = item.Id }, new { @class =
                                    "text-danger"})</td> *@

                                <!-- Button trigger modal -->

                                <td>
                                    <a type="button" class="text-danger" data-bs-toggle="modal"
                                    data-bs-target="#DeleteCategoryPopup_@item.Id">
                                        Delete
                                    </a>
                                </td>
                            </tr>

                            <!-- Modal -->
                            <div class="modal fade" id="DeleteCategoryPopup_@item.Id" tabindex="-1"
                            aria-labelledby="DeleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title text-secondary" id="DeleteModalLabel">Confirmation to
                                                delete?</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure to delete this Product?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                            @Html.ActionLink("Confirm Delete", "DeleteProduct", new { id = item.Id }, new {
                                                @class = "btn btn-danger text-white"})
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
