@{
    ViewData["Title"] = "Game liên minh";
    string vndFormat(int? money)
    {
        if (money == null)
        {
            return "0";
        }
        var info = System.Globalization.CultureInfo.GetCultureInfo("vi-VN");
        return String.Format(info, "{0:c}", money);
    }
}

<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    <!-- BEGIN: PAGE CONTENT -->

    @{
        var buySuccess = TempData["buy-success"];
        if (buySuccess != null)
        {
            <div class="modal fade" id="successModal" role="dialog" style="display: block;" tabindex="-1">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                        <div class='modal-header'>
                            <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                                <span aria-hidden='true'>×</span>
                            </button>
                            <h4 class='modal-title'>Thông báo</h4>
                        </div>

                        <div class="modal-body text-success">@buySuccess</div>
                        <div class="modal-footer">
                            <button type="button" class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold c-bg-green-4"
                            data-dismiss="modal">Xác nhận</button>
                            <button type="button"
                            class="btn c-theme-btn c-btn-border-2x c-btn-square c-btn-bold c-btn-uppercase"
                            data-dismiss="modal">Đóng</button>
                        </div>

                    </div>
                </div>
            </div>


            <script>
                var a = $('#successModal');
                a.ready(function () {
                    a.modal('show');
                });
            </script>
        }
    }

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-info box-text hidetext" role="alert">
                    <h1 class="alert-heading" style="color:#000">Liên minh</h1>
                    <p>
                    <ul>
                        <li>Game <strong><a href="https://lienminh.garena.vn/" target="_blank"><span
                                        style="color:#e74c3c">LI&Ecirc;N MINH HUYỀN THOẠI</span></a></strong>&nbsp;thuộc
                            thể loại game mobile nhập do <a href="https://www.garena.vn/" target="_blank"><span
                                    style="color:#e74c3c"><strong>GARENA</strong></span></a>&nbsp;độc quyền ph&aacute;t
                            h&agrave;nh tại Việt Nam.</li>
                        <li><a href="https://nick.vn/garena/lien-minh" target="_blank"><strong>Web Mua B&aacute;n Nick
                                    LI&Ecirc;N MINH&nbsp;UY T&Iacute;N - GI&Aacute;
                                    RẺ</strong></a>&nbsp;&nbsp;<strong><a href="https://webnick.vn/"
                                    target="_blank"><span style="color:#e74c3c">WEBNICK.VN</span></a> ( Website mua
                                b&aacute;n nick li&ecirc;n qu&acirc;n - LMHT lớn nhất Việt Nam
                                )&nbsp;</strong>.&nbsp;<strong><a href="https://nick.vn/garena/lien-minh"
                                    target="_blank">Shop b&aacute;n acc - t&agrave;i khoản LMHT VIP</a></strong>.&nbsp;
                        </li>
                        <li>Ngo&agrave;i <strong>mua&nbsp;b&aacute;n nick lq</strong>&nbsp;website c&ograve;n <strong><a
                                    href="https://nick.vn/mua-the" target="_blank"><span
                                        style="color:#e74c3c">b&aacute;n thẻ Garena</span></a></strong><span
                                style="color:#e74c3c">&nbsp;,</span><strong><a href="https://nick.vn/dich-vu/lien-minh"
                                    target="_blank"><span style="color:#e74c3c">B&aacute;n RP li&ecirc;n minh gi&aacute;
                                        rẻ</span></a></strong><span style="color:#e74c3c">,</span><a
                                href="https://nick.vn/mua-ban-nick-game-random" target="_blank"><span
                                    style="color:#e74c3c"> <strong>b&aacute;n acc li&ecirc;n minh
                                        random</strong></span></a>&nbsp;v&agrave; rất nhiều dịch vụ kh&aacute;c về
                            <strong><a href="https://www.youtube.com/channel/UCpnQwjzvDm1MOMtZV2zkVpA"
                                    target="_blank">game LQM</a></strong>
                        </li>
                    </ul>
                    </p>

                </div>
                <div style="text-align: center;margin: 15px 0">
                    <span class="viewmore">Xem tất cả »</span>
                </div>

            </div>
        </div>
        <div class="row  hidden-xs hidden-sm" style="margin-bottom: 15px">
            <div class="m-l-10 m-r-10">
                <form asp-action="LienMinh" asp-controller="ShopAcc" class="form-inline m-b-10" role="form">

                    <div class="col-md-3 col-sm-4 p-5 field-search">
                        <div class="input-group c-square">
                            <span class="input-group-addon">Tìm kiếm</span>
                            <input type="text" class="form-control c-square" value="" placeholder="Tìm kiếm"
                                name="SearchKey">

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 p-5 field-search">
                        <div class="input-group c-square">
                            <span class="input-group-addon">Mã số</span>
                            <input type="text" class="form-control c-square" value="" placeholder="Mã số" name="id">

                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12  p-5 field-search">
                        <div class="input-group c-square">
                            <span class="input-group-addon">Giá tiền</span>
                            <select class="form-control c-square" name="price">

                                <option value="">Chọn giá tiền</option>
                                <option value="1">Dưới 50K</option>
                                <option value="2">Từ 50K - 200K</option>
                                <option value="3">Từ 200K - 500K</option>
                                <option value="4">Từ 500K - 1 Triệu</option>
                                <option value="5">Trên 1 Triệu</option>
                                <option value="6">Trên 5 Triệu</option>
                                <option value="7">Trên 10 Triệu</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 p-5 field-search">
                        <div class="input-group c-square">
                            <span class="input-group-addon">Trạng thái</span>
                            <select style="" class="form-control c-square" name="status">
                                <option value="0" selected>Chưa bán</option>
                                <option value="1">Đã bán</option>
                                @* <option value="3">Đã đặt cọc</option>
                                    <option value="-999">Tất cả</option> *@
                            </select>

                        </div>
                    </div>

                    @* <div class="col-md-3 col-sm-4 col-xs-12 p-5 field-search">
                        <div class="input-group c-square">
                        <span class="input-group-addon">Rank</span>
                        <select name="attribute_id_392" class="form-control c-square" title="-- Không chọn --">
                        <option value="">-- Không chọn --</option>
                        <option value="396">Chưa Rank</option>
                        <option value="397">Đồng</option>
                        <option value="398">Bạc</option>
                        <option value="399">Vàng</option>
                        <option value="400">Bạch Kim</option>
                        <option value="401">Kim Cương</option>
                        <option value="402">Cao Thủ</option>
                        <option value="1309">Rank Thách Đấu</option>
                        </select>
                        </div>
                        </div> *@


                    @* <div class="col-md-3 col-sm-4 col-xs-12 p-5 field-search">
                        <div class="input-group c-square">
                        <span class="input-group-addon">Trạng Thái</span>
                        <select name="attribute_id_976" class="form-control c-square" title="-- Không chọn --">
                        <option value="">-- Không chọn --</option>
                        <option value="977">Trắng thông tin</option>
                        <option value="978">SĐT Đổi + Trắng Mail</option>
                        <option value="979">SĐT Đổi + Gửi Mail</option>
                        <option value="980">Trắng SĐT + Gửi Mail</option>
                        </select>
                        </div>
                        </div> *@
                    <div class="col-md-3 col-sm-4 p-5 no-radius">
                        <button type="submit" class="btn c-square c-theme c-btn-green">Tìm kiếm</button>
                        <a class="btn c-square m-l-0 btn-danger" asp-action="LienMinh" asp-controller="ShopAcc">Tất
                            cả</a>
                    </div>
                </form>
            </div>
        </div>

        <div class="filter-product-mobile hidden-md hidden-lg">
            <div class="filter-left form-group">


            </div>
            <div class="filter-right form-group">
                <a class="btn btn-success" style="display: block">
                    <i class="fa fa-filter"></i> Tìm kiếm
                </a>
            </div>
            <div id="togger-filter"></div>
        </div>

        <div class="form-filter-right hidden-md hidden-lg">
            <div class="form-filter-content-mobile">
                <div class="list-product-left">
                    <div class="category-left">
                        <div class="title-product mb-4">
                            <span class="c-theme-link close-popup">×</span>
                            <h2 style="font-size: 16px;text-align: center">Tìm kiếm </h2>
                        </div>
                        <div class="category-list-product">

                        </div>
                    </div>
                    <hr>
                    <div class="search-list-product">
                        <form class="form-inline m-b-10" role="form" method="get">


                            <div class="col-md-3 col-sm-4 p-5 field-search">
                                <div class="input-group c-square">
                                    <span class="input-group-addon">Tìm kiếm</span>
                                    <input type="text" class="form-control c-square" value="" placeholder="Tìm kiếm"
                                        name="SearchKey">

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 p-5 field-search">
                                <div class="input-group c-square">
                                    <span class="input-group-addon">Mã số</span>
                                    <input type="text" class="form-control c-square" value="" placeholder="Mã số"
                                        name="id">

                                </div>
                            </div>

                            <div class="col-md-3 col-sm-4 col-xs-12  p-5 field-search">
                                <div class="input-group c-square">
                                    <span class="input-group-addon">Giá tiền</span>
                                    <select style="" class="form-control c-square" name="price">

                                        <option value="">Chọn giá tiền</option>
                                        <option value="1">Dưới 50K</option>
                                        <option value="2">Từ 50K - 200K</option>
                                        <option value="3">Từ 200K - 500K</option>
                                        <option value="4">Từ 500K - 1 Triệu</option>
                                        <option value="5">Trên 1 Triệu</option>
                                        <option value="6">Trên 5 Triệu</option>
                                        <option value="7">Trên 10 Triệu</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-4 p-5 field-search">
                                <div class="input-group c-square">
                                    <span class="input-group-addon">Trạng thái</span>
                                    <select class="form-control c-square" name="status">
                                        <option value="0" selected>Chưa bán</option>
                                        <option value="1">Đã bán</option>
                                    </select>
                                </div>
                            </div>

                            @* <div class="col-md-3 col-sm-4 col-xs-12 p-5 field-search">
                                <div class="input-group c-square">
                                <span class="input-group-addon">Rank</span>
                                <select name="attribute_id_392" class="form-control c-square"
                                title="-- Không chọn --">
                                <option value="">-- Không chọn --</option>
                                <option value="396">Chưa Rank</option>
                                <option value="397">Đồng</option>
                                <option value="398">Bạc</option>
                                <option value="399">Vàng</option>
                                <option value="400">Bạch Kim</option>
                                <option value="401">Kim Cương</option>
                                <option value="402">Cao Thủ</option>
                                <option value="1309">Rank Thách Đấu</option>
                                </select>
                                </div>
                                </div> *@


                            @* <div class="col-md-3 col-sm-4 col-xs-12 p-5 field-search">
                                <div class="input-group c-square">
                                <span class="input-group-addon">Trạng Thái</span>
                                <select name="attribute_id_976" class="form-control c-square"
                                title="-- Không chọn --">
                                <option value="">-- Không chọn --</option>
                                <option value="977">Trắng thông tin</option>
                                <option value="978">SĐT Đổi + Trắng Mail</option>
                                <option value="979">SĐT Đổi + Gửi Mail</option>
                                <option value="980">Trắng SĐT + Gửi Mail</option>
                                </select>
                                </div>
                                </div> *@
                            <div class="col-md-3 col-sm-4 p-5 no-radius">
                                <button type="submit" class="btn c-square c-theme c-btn-green"
                                    style="margin-right: 15px;margin-top: 15px">Tìm kiếm</button>
                                <a class="btn c-square m-l-0 btn-danger" asp-action="LienMinh" asp-controller="ShopAcc"
                                    style="margin-top: 15px">Tất cả</a>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <style>
            .form-filter-right {

                position: fixed;
                top: 0;
                right: -300px;
                width: 300px;
                height: 100%;
                background: #fff;
                color: #444;
                z-index: 10;
                transition: 400ms ease;
                overflow-y: scroll;
                transform: translateX(0px);
                z-index: 10000;
            }

            .form-filter-right.open {
                display: unset;
                height: 100%;
                transform: translateX(-300px);

            }

            #togger-filter {
                visibility: hidden;
                background-color: #000000bf;
                z-index: 1;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                overflow: hidden;
                position: fixed;
                z-index: 9999;
            }

            #togger-filter.active {
                transition: 0.4s;
                visibility: visible;
                cursor: pointer;

            }

            .form-filter-content-mobile {
                padding: 15px;
            }

            .close-popup {
                color: #818e9a;
                font-size: 36px;
                left: 11px;
                top: 7px;
                position: absolute;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
            }
        </style>
        <script>

            $('.filter-right').click(function () {
                $('.form-filter-right').toggleClass('open');
                $("#togger-filter").toggleClass("active");
            });
            $('#togger-filter').click(function (e) {
                $("#togger-filter").removeClass("active");
                $('.form-filter-right').removeClass('open');
            });

            $('#togger-filter').click(function (e) {
                $("#togger-filter").removeClass("active");
                $('.form-filter-right').removeClass('open');
            });
            $('.form-filter-right .close-popup').click(function (e) {
                $("#togger-filter").removeClass("active");
                $('.form-filter-right').removeClass('open');
            });

        </script>

        <div class="row row-flex item-list">
            @{
                var Acc = ViewBag.Shopacc;
                if (Acc is List<Lienminh>)
                {
                    List<Lienminh> listAcc = (List<Lienminh>)Acc;
                    foreach (Lienminh LOL in listAcc)
                    {

                        <div class="col-sm-6 col-md-3">
                            <div class="classWithPad">
                                <div class="image">
                                    <a href='@Url.ActionLink("Detail_LienMinh", "ShopAcc", new {id = @LOL.Id})'>

                                        <!-- <a href="/acc/467183"> -->
                                <img src="@LOL.ImgThumb">
                                        <span class="ms">MS: @LOL.Id</span>
                                    </a>

                                </div>
                                <div class="description">

                                </div>
                                <div class="attribute_info">
                                    <div class="row">

                                        <div class="col-xs-6 a_att">
                                            Tướng: <b>@LOL.Champ</b>
                                        </div>

                                        <div class="col-xs-6 a_att">
                                            Skin: <b>@LOL.Skin</b>
                                        </div>

                                        <div class="col-xs-6 a_att">
                                            Bảng Ngọc: <b></b>
                                        </div>

                                        <div class="col-xs-6 a_att">
                                            Rank: <b>@LOL.Rank</b>
                                        </div>
                                    </div>
                                </div>
                                <div class="a-more">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="price_item">@vndFormat((int?)LOL.PriceAtm)</div>
                                        </div>
                                        <div class="col-xs-6 ">
                                            <div class="view">
                                                <a href='@Url.ActionLink("Detail_LienMinh", "ShopAcc", new {id = @LOL.Id})'>Chi
                                                    tiết</a>
                                                <!-- <a href="/acc/467183">Chi tiết</a> -->
                                    </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    }
                }
            }
        </div>

        @* Pagination section: START *@
        <nav aria-label="Page navigation" class="text-right">
            <ul class="pagination">
                @{
                    int currentPage = ViewBag.currentPage ?? 1;
                    int totalPage = ViewBag.totalPage ?? 1;
                    int spacePage = 2;
                    int nearLastPage = totalPage - 1;

                    if (totalPage >= 1)
                    {
                        // Previous button, disable if is first page
                        if (currentPage == 1)
                        {
                            <li class="page-item disabled" aria-disabled="true" aria-label="&lsaquo; Previous">
                                <span class="page-link" aria-hidden="true">&lsaquo;</span>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" href='@Url.Action("LienMinh", new {page = currentPage - 1 })'
                            aria-label="&laquo; Previous">&lsaquo;</a>
                            </li>
                        }

                        // Pages
                        // if total of page (less than) < 
                        if (totalPage < 7 + (spacePage * 2))
                        {
                            for (int i = 1; i <= totalPage; i++)
                            {
                                // Disable if is current page
                                if (currentPage == i)
                                {
                                    <li class="page-item active" aria-current="page">
                                        <span class="page-link">@i</span>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" href='@Url.Action("LienMinh", new {page = @i })'>@i</a>
                                    </li>
                                }
                            }
                        }
                        else if (totalPage > 7 + (spacePage * 2))
                        {
                            if (currentPage < 1 + (spacePage * 2))
                            {
                                // Beginning only hide later pages
                                for (int i = 1; i <= totalPage - (8 + 2 * spacePage); i++)
                                {
                                    // Disable if is current page
                                    if (currentPage == i)
                                    {
                                        <li class="page-item active" aria-current="page">
                                            <span class="page-link">@i</span>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href='@Url.Action("LienMinh", new {page = @i })'>@i</a>
                                        </li>
                                    }
                                }
                                <li class="page-item disabled" aria-disabled="true"><span class="page-link">...</span></li>
                                <li class="page-item"><a class="page-link" href='@Url.Action("LienMinh", new {page = @totalPage - 1 })'>@nearLastPage</a></li>
                                <li class="page-item"><a class="page-link" href='@Url.Action("LienMinh", new {page = @totalPage })'>@totalPage</a></li>
                            }
                            else if (totalPage - (2 * spacePage) > currentPage && currentPage > (spacePage * 2))
                            {
                                // Middle hide some front and some back
                                <li class="page-item"><a class="page-link"
                            href='@Url.Action("LienMinh", new {page = @totalPage - totalPage + 1 })'>1</a></li>
                                <li class="page-item"><a class="page-link"
                            href='@Url.Action("LienMinh", new {page = @totalPage - totalPage + 2 })'>2</a></li>
                                <li class="page-item disabled" aria-disabled="true"><span class="page-link">...</span></li>

                                for (int i = currentPage - spacePage; i <= currentPage + spacePage; i++)
                                {
                                    // Disable if is current page
                                    if (currentPage == i)
                                    {
                                        <li class="page-item active" aria-current="page">
                                            <span class="page-link">@i</span>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href='@Url.Action("LienMinh", new {page = @i })'>@i</a>
                                        </li>
                                    }
                                }
                                <li class="page-item disabled" aria-disabled="true"><span class="page-link">...</span></li>
                                <li class="page-item"><a class="page-link"
                            href="@Url.Action("LienMinh", new {page = @totalPage - 1 })">@nearLastPage</a></li>
                                <li class="page-item"><a class="page-link"
                            href='@Url.Action("LienMinh", new {page = @totalPage })'>@totalPage</a></li>
                            }
                            else
                            {
                                // End only hide early pages
                                <li class="page-item"><a class="page-link"
                            href='@Url.Action("LienMinh", new {page = @totalPage - totalPage + 1 })'>1</a></li>
                                <li class="page-item"><a class="page-link"
                            href='@Url.Action("LienMinh", new {page = @totalPage - totalPage + 2 })'>2</a></li>
                                <li class="page-item disabled" aria-disabled="true"><span class="page-link">...</span></li>

                                for (int i = totalPage - (1 + 2 * spacePage); i <= totalPage; i++)
                                {
                                    // Disable if is current page
                                    if (currentPage == i)
                                    {
                                        <li class="page-item active" aria-current="page">
                                            <span class="page-link">@i</span>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="page-item">
                                            <a class="page-link" href='@Url.Action("LienMinh", new {page = @i })'>@i</a>
                                        </li>
                                    }
                                }
                            }
                        }


                        // Next button, disable if is last page
                        if (currentPage == totalPage)
                        {
                            <li class="page-item disabled" aria-disabled="true" aria-label="Next &rsaquo;">
                                <span class="page-link" aria-hidden="false">&rsaquo;</span>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" href="@Url.Action("LienMinh", new {page = currentPage + 1 })"
                            aria-label="Next &rsaquo;">&rsaquo;</a>
                            </li>
                        }
                    }
                }
            </ul>
        </nav>
        @* Pagination section: END *@

        @* <div class="data_paginate paging_bootstrap paginations_custom" style="text-align: center">

            </div>

            <div class="data_paginate paging_bootstrap paginations_custom" style="text-align: center">
            <form asp-action="LienMinh" asp-controller="ShopAcc">
            <input style="padding: 5px" type="number" min="1" name="page">
            <button style="padding: 5px" type="submit">Chuyển Trang</button>
            </form>
            <input style="padding: 5px" type="button" id="search" value="Chuyển trang">
            </div> *@

        @* <script type="text/javascript">
            $('#search').click(function () {
            var page = $('a[rel=next]').parent().prev().find('.page-link').text();
            if ($('#page').val() <= page) {
            page = $('#page').val();
            }
            if ($('#page').val() == 0) {
            page = 1;
            }
            if ($('#page').val() != "") {
            location.href = 'https://giang.cf/ShopAcc' + '/LienMinh?page=' + page;
            }
            })
            </script> *@



        <div class="tab-vertical tutorial_area">
            <div class="panel-group" id="accordion">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="">Dịch vụ game khác <i
                                    class="fa-regular fa-flag"></i></a>
                        </h5>
                    </div>
                    <div id="tab1" class="panel-collapse collapse in" aria-expanded="true" style="">
                        <div class="panel-body">
                            <p>Ngo&agrave;i&nbsp; <strong>shop b&aacute;n acc li&ecirc;n minh&nbsp;</strong>Shop
                                c&ograve;n c&oacute; c&aacute;c dịch vụ kh&aacute;c như <strong><a href="#"
                                        target="_blank">mua b&aacute;n RP
                                        li&ecirc;n minh gi&aacute; rẻ</a></strong><strong>&nbsp;,<span
                                        style="color:#e74c3c"><a href="#">b&aacute;n thẻ
                                            garena</a> gi&aacute;&nbsp; rẻ v&agrave; hơn 40 dịch vụ game
                                        kh&aacute;c</span></strong> tại&nbsp;<strong><a href="#"
                                        target="_blank">https://giang.cf</a>&nbsp;(<a href="#"
                                        target="_blank">click</a>)</strong></p>

                            <p><strong>Link b&aacute;n RP li&ecirc;n minh</strong>&nbsp;:&nbsp;<strong><a href="#"
                                        target="_blank">https://giang.cf</a>&nbsp;(<a href="#"
                                        target="_blank">click</a>)</strong></p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="">Group - fanpage cộng đồng
                                <i class="fa-regular fa-flag"></i></a>
                        </h5>
                    </div>
                    <div id="tab1" class="panel-collapse collapse in" aria-expanded="true" style="">
                        <div class="panel-body">
                            <p>M&igrave;nh c&oacute; tạo group về li&ecirc;n qu&acirc;n&nbsp;để anh em giao lưu. Ae ấn
                                tham gia group v&agrave; like page nh&eacute;</p>

                            <p>Link :&nbsp;<a href="#" target="_blank">#</a></p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="">Shop bán nick liên minh UY TÍN -
                                GIÁ RẺ <i class="fa-regular fa-flag"></i></a>
                        </h5>
                    </div>
                    <div id="tab1" class="panel-collapse collapse in" aria-expanded="true" style="">
                        <div class="panel-body">
                            <p><strong>Shop b&aacute;n nick li&ecirc;n minh huyền thoại&nbsp;</strong>với nhiều lựa chọn
                                phong ph&uacute;, qu&yacute; kh&aacute;ch c&oacute; thể t&igrave;m kiếm theo&nbsp;:</p>

                            <p>- Nick li&ecirc;n minh c&oacute; skin hiếm</p>

                            <p>- Nick li&ecirc;n minh game random&nbsp;</p>

                            <p>- Nick li&ecirc;n minh gi&aacute; rẻ</p>

                            <p>- Acc li&ecirc;n minh&nbsp; rank cao thủ , th&aacute;ch đấu.</p>

                            <p>- T&agrave;i khoản li&ecirc;n minh c&oacute; nhiều tướng</p>

                            <p>- T&agrave;i khoản lm c&oacute; nhiều trang phục</p>

                            <p>-&nbsp;Acc li&ecirc;n minh trang phục - skin Si&ecirc;u Việt</p>

                            <p>- Nick li&ecirc;n minh bản thử nghiệm</p>

                            <p>- Acc li&ecirc;n minh full tướng full skin&nbsp;</p>

                            <p>- Acc li&ecirc;n minh 9k</p>

                            <p>- Nick li&ecirc;n minh full ngọc</p>

                            <p>- Nick li&ecirc;n minh gi&aacute; rẻ 20k</p>

                            <p>- Acc li&ecirc;n minh ngọc 90</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="modal fade" id="LoadModal" role="dialog" style="display: none;" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="loader" style="text-align: center"><img src="/assets/frontend/images/loader.gif"
                    style="width: 50px;height: 50px;display: none"></div>
            <div class="modal-content">
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.load-modal').each(function (index, elem) {
                $(elem).unbind().click(function (e) {
                    e.preventDefault();
                    e.preventDefault();
                    var curModal = $('#LoadModal');
                    curModal.find('.modal-content').html("<div class=\"loader\" style=\"text-align: center\"><img src=\"/assets/frontend/images/loader.gif\" style=\"width: 50px;height: 50px;\"></div>");
                    curModal.modal('show').find('.modal-content').load($(elem).attr('rel'));
                });
            });
        });
    </script>
    <script type="text/javascript">
        $('body').delegate('.viewmore', 'click', function () {

            $(this).addClass('viewless').removeClass('viewmore');
            $(this).text('« Thu gọn');
            $('.hidetext').addClass('showtext').removeClass('hidetext');
        })
        $('body').delegate('.viewless', 'click', function () {
            $(this).addClass('viewmore').removeClass('viewless');
            $(this).text('Xem tất cả »');
            $('.showtext').addClass('hidetext').removeClass('showtext');
        })

        $('body').delegate('.btn-viewmore', 'click', function () {
            var ele = $(this).closest('.panel-body').find(".special-text").toggleClass('-expanded');
            if ($(ele).hasClass('-expanded')) {
                $(this).html('« Thu gọn');
            } else {
                $(this).html('Xem tất cả »');

            }
        })

    </script>

    <!-- END: PAGE CONTENT -->
</div>

<div class="modal fade" id="noticeModal" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="loader" style="text-align: center"><img src="/assets/frontend/images/loader.gif"
                style="width: 50px;height: 50px;display: none"></div>
        <div class="modal-content">

        </div>
    </div>
</div>
</div>

<div class="modal fade" id="LoadModal" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="loader" style="text-align: center"><img src="/assets/frontend/images/loader.gif"
                style="width: 50px;height: 50px;display: none"></div>
        <div class="modal-content">
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('.load-modal').each(function (index, elem) {
            $(elem).unbind().click(function (e) {
                e.preventDefault();
                e.preventDefault();
                var curModal = $('#LoadModal');
                curModal.find('.modal-content').html("<div class=\"loader\" style=\"text-align: center\"><img src=\"/assets/frontend/images/loader.gif\" style=\"width: 50px;height: 50px;\"></div>");
                curModal.modal('show').find('.modal-content').load($(elem).attr('rel'));
            });
        });
    });
</script>


<!-- END: PAGE CONTAINER -->